/* SDK recommendations */
.application-fill           { fill: fb-cyan; }
.app-gradient-background    { fill: fb-blue; }
.foreground-fill            { fill: fb-white; }
.background-fill            { fill: fb-black; }

/* main */

.main-header-bar {
  fill: green;
}

#view-header text {
  font-size: 34;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: #FFFFFF;
}

.list-item-header {
  font-size: 20;
  font-family: System-Regular;
  text-length: 32;
  fill: #FFFFFF;
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #A0A0A0;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}

/* about */

.about-text {
  font-family: System-Regular;
  font-size: 30;
  text-anchor: middle;
  text-length: 100;
  display-align: center;
  rows: 7;
  fill: #FFFFFF;
}

.about-title {
  font-family: System-Regular;
  font-size: 34;
  font-weight: bold;
  text-anchor: middle;
  text-length: 25;
  display-align: center;
  rows: 2;
  height: 80;
  fill: fb-yellow;
}

.about-copy {
  font-family: System-Regular;
  font-size: 30;
  text-anchor: middle;
  text-length: 60;
  display-align: center;
  fill: #FFFFFF;
}
