/* main */

#view-header text {
  font-size: 34;
  font-family: System-Regular;
  font-weight: bold;
  text-length: 32;
  fill: #FFFFFF;
}

/* all checkboxes */
.checkbox-tile-image image { fill: green }
.checkbox-unselected-color image { fill: #FFFFFF }

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 2;
  fill: #A0A0A0;
}

/* about */

.about-text {
  font-family: Colfax-Light;
  font-size: 30;
  text-anchor: middle;
  text-length: 100;
  display-align: center;
  rows: 7;
  fill: #FFFFFF;
}

.about-title {
  font-family: System-Regular;
  font-size: 34;
  font-weight: bold;
  text-anchor: middle;
  text-length: 25;
  display-align: center;
  rows: 2;
  height: 80;
  fill: fb-yellow;
}

.about-copy {
  font-family: System-Regular;
  font-size: 30;
  text-anchor: middle;
  text-length: 60;
  display-align: center;
  fill: #FFFFFF;
}

